SECRET_KEY=django_secret_key
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram
DB_HOST=db
DB_PORT=5432
DEBUG=True/False
ALLOWED_HOSTS='localhost,127.0.0.1,list_of_allowed_hosts'